Flask==1.1.1
audioread==2.1.8
librosa==0.7.2
torch==1.5.0
torchsummary==1.5.1
torchvision==0.6.0
tornado==6.0.4
pandas==0.23.0
tensorflow==1.15.2
opencv-python==4.1.1.26
numpy==1.17.2
scikit-learn==0.20.4
WTForms==2.3.1
seaborn==0.10.1


